/* Reset  */

@font-face {
  font-family: "Domaine Display";
  src: url("https://storage.googleapis.com/yardzen-public-assets/domaine-display-web-regular.woff") format("woff");
  font-weight: 600;
}

:root {
  --primary: #3e6f57;
  --primary-l: #b6ceb6;
  --primary-xl: #e9f0e9;
  --secondary: #E5A5A5;
  --grey: #f8f7f6;
  --cream: #fff3dc;
  --blue: #bae6fd;
  --sidebar-width: 250px;
}

html,
body {
  height: 100%;
  font-family: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display {
  font-family: 'Domaine Display', 'Georgia', serif;
}

.display {
  font-size: 4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

ol li {
  margin-bottom: 1rem;
}

a {
  color: #000;
  word-break: break-all;
}

a:hover {
  color: #000;
}

/* bootstrap overrides */

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:focus:hover {
  color: #000;
}

.btn {
  text-transform: uppercase;
  padding: 0.66rem 1.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0;
}

.btn-primary {
  background: var(--primary-l) !important;
}

.text-primary {
  color: var(--primary)!important;
}

.lead {
  font-size: 1.5rem;
}

.sans-serif, sup {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400 !important;
}

sup {
  font-size: 0.8rem;
  display: inline;
  top: -1em;
}

p sup {
  top: -.5em;
}

h1 sup {
  top: -2em;
}

.font-sm {
  font-size: 0.9rem;
}

/* Layout */


section {
  padding: 6rem 55px 6rem 300px;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background: rgba(192, 202, 191, 0.95);
}


.header-nav img {
  height: auto;
}

/* desktop */

@media (min-width: 769px) {
  header {
    padding: 2rem;
    position: fixed;
    z-index: 1000;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
  }
}

/* mobile */

@media (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  header nav img {
    width: 100px;
  }

  header nav h6 {
    font-size: 14px;
  }

  header .nav-item {
    padding: 0.5rem;
  }
  
  header .nav-item a {
    font-size: 1rem;
  }

  .navbar-light .navbar-toggler {
    font-size: 14px;
    padding: 0.5rem;
    color: #000;
    border: 0;
  }

  section {
    padding: 4rem 1rem;
    min-height: 500px;
  }
}

/* Card  */

.card {
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
}

.card-outlined {
  border: 1px solid var(--primary-l);
}

.bg-secondary .card {
  background: rgba(255,255,255, .3);
}

/* Backgrounds */

.bg-image {
  background-size: cover;
}

.bg-grey {
  background: var(--grey);
}

.bg-primary {
  background-color: var(--primary-l)!important;
}

.bg-primary-l {
  background-color: var(--primary-xl);
}

.bg-secondary {
  background-color: var(--secondary)!important;
}

.bg-blue {
  background: var(--blue);
}

.bg-cream {
  background: var(--cream);
}

.bg-light {
  background: #fff!important;
}

/* Nav */

nav ul {
  padding-left: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 0.66rem;
  line-height: 120%;
  display: block;
}

.active {
  font-weight: 600;
}

/* Specific fixes */

.circle-container, .house-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.circle-container {
  width: 16rem;
  height: 16rem;
  border-radius: 16rem;
}

.circle-big {
  width: 20rem;
  height: 20rem;
  border-radius: 20rem;
}

.chart-arrow {
  background: url('images/arrow.png') no-repeat;
  background-position: center right;
  width: 100%;
  height: 50px;
  width: 150px;
}

.house-message {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  background: var(--primary-l);
  z-index: 1;
  line-height: 100%;
}

.house-message sup {
  left: 3rem;
  font-size: 0.6rem;
  top: -1em;
}

.difference-points {
  text-align: left;
  /* border-left: 1px solid rgba(0,0,0,.05); */
}

.climate, .native, .pollinator {
  text-align: center;
}

@media (min-width: 769px) {
  .bg-pollinators {
    background: url('images/bg-flower.png') no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .climate, .native, .pollinator {
    position: absolute;
    width: 400px;
    text-align: center;
  }

  .flower-container {
    background: url('images/flowers.png') no-repeat;
    background-size: contain;
    height: 50vw;
    position: relative;
    max-width: 1600px;
  }

}

/* Mobile  */

@media (max-width: 768px) {

  .house-message {
    font-size: 0.8rem;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
  }
  
  .difference-points {
    text-align: center;
  }
  
  .climate, .native, .pollinator {
    padding: 1rem;
  }

  .climate-chart .col-xs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .climate-chart {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {

  .climate, .native, .pollinator {
    font-size: 0.8rem;
  }

  .climate {
    top: 26vw;
    left: 4vw;
  }
  
  .native {
    top: 10vw;
    left: 28vw;
    width: 25vw;
  }
  
  .pollinator {
    top: 30vw;
    left: 40vw;
    width: 25vw;
  }
}